
.section {
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
   
    h2 {
        color: #87827c;
    }
    .card-wrapper {

        display: inline-flex;
        gap: 20px; 
    }

    
}
::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
    background-color: #e3e3e3;
}
